<div class="container">
  <div class="row">
    <h2>商品詳細</h2>
  </div>
  <div class="row">
    <div class="col-4">
      <%= attachment_image_tag @item, :image, format: 'jpeg', size: "100x100" %>
    </div>
    <div class="col-8">
      <%= @item.name %>
    </div>
  </div>
  </div>
</div>