<div class="container">
  <div class="row">
    <h2>会員一覧</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">会員ID</th>
          <th scope="col">氏名</th>
          <th scope="col">メールアドレス</th>
          <th scope="col">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.full_name,admin_customer_path(customer.id) %></td>
            <td><%= customer.email %></td>
            <td><%= customer.is_deleted %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>