<table class="table table-bordered text-center">
  <thead>
    <tr>
      <th>ジャンル検索</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>チョコレート</td>
    </tr>
    <tr>
      <td>焼き菓子</td>
    </tr>
  </tbody>
</table>   
