<div class="container">
  <div class="row">
    <% item_top_4.each do |item| %>
      <div class="col-2">
        <%= attachment_image_tag item, :image, format: 'jpeg', size: "100x100" %><br>
        <%= item.name %><br>
        <%= item.price %>
      </div>
    <% end %>
  </div>
</div>