<div class="container-fluid">
  <div class="row">
    
    <!-- 4列をサイドメニューに割り当て -->
    <div class="mx-auto col-4">
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>チョコレート</td>
          </tr>
          <tr>
            <td>焼き菓子</td>
          </tr>
        </tbody>
      </table>   
    </div>

    <!-- 残り8列はコンテンツ表示部分として使う -->
    <div class="mx-auto col-8">
      <div class="top-image">
        <p>
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>
    </div>
  </div>
</div>