@import '~bootstrap/scss/bootstrap';

.navbar-brand img{
  width: 100px;
  height: 100px;
}
.navbar-nav a{
  margin-left: 30px;
}
.card-img-overlay{
  padding: 0;
  top: calc(50% - 3rem);
  text-align: center;
  font-weight: bold;
}
