<div class="container-fluid">
  <div class="row">
    <div class="mx-auto col-4">
      <%= render "homes/genre_list" %>
    </div>
    
    <div class="mx-auto col-8">
      <h2>商品一覧（ジャンル一覧時変更）</h2>
      <p>each分商品一覧</p>
    </div>  
  </div>
</div>