<div class="container-fluid">
  <div class="row">
    <div class="mx-auto col-4">
      <%= render "homes/genre_list" %>
    </div>
    
    <div class="mx-auto col-8">
      <p>画像挿入</p>
      <p>題名</p>
      <p>紹介文</p>
      <p>価格</p>
      <p>個数</p>
    </div>  
  </div>
</div>