<div class="container-fluid">
  <div class="row">
    <div class="mx-auto col-4">
      <%= render "homes/genre_list", genres: Genre.all %>
    </div>
    
    <div class="mx-auto col-8">
      <h2>商品一覧（ジャンル一覧時変更）</h2>
      <div class="container">
        <div class="row">
          <% @items.each do |item| %>
            <div class="col-3">
              <%= attachment_image_tag item, :image, format: 'jpeg', size: "200x200" %><br>
              <%= item.name %><br>
              <%= item.price %>
            </div>
          <% end %>
        </div>
      </div>
    </div>  
  </div>
</div>